parameters:
    level: max
    paths:
        - src
        - tests
services:
    -
        class: ADS\JsonImmutableObjects\PhpStan\PropertiesExtension
        tags:
            - phpstan.properties.readWriteExtension